/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Popup dimensions — small, iframe-style window */
body {
  width: 320px;
  height: 450px;
  min-height: 180px;
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 13px;
  color: #222;
  background: #fff;
  overflow: hidden;
}

/* Outer container */
.popup-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}

/* Header bar */
.popup-header {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-top: 25px;
  padding-right: 25px;
  background: #1b1b1b;
  user-select: none;
  width: 100vw;
}

.popup-title {
  width: 60vw;
}

.popup-close {
  background: none;
  border: none;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  color: #666;
  padding: 0 2px;
  border-radius: 3px;
}

.popup-close:hover {
  background: #e0e0e0;
  color: #222;
}

.left-border {
  position: fixed;
  left: 0;
  top: 0;
  width: 25px;
  height: 100vh;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  padding-top: 50px;
  padding-bottom: 25px;
}

.left-border span {
  color: #eeede9;
  transform: rotate(-90deg);
  white-space: nowrap;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 10px;
}

/* Body */
.popup-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  gap: 30px;
  background: #1b1b1b;
  padding-left: 50px;
  padding-bottom: 35px;
  background-image: url(./assets/blingirl-cropped.webp);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.popup-status {
  font-size: 13px;
  color: #555;
  text-align: center;
}

.popup-btn {
  /* padding: 6px 20px; */
  font-size: 20px;
  font-family: 'Be Vietnam Pro', sans-serif;;
  cursor: pointer;
  background: #1b1b1b;
  color: #f4bd5d;
  border: 2px solid #f4bd5d;
  border-radius: 4px;
  transition: background 0.15s;
  width: 130px;
  height: 100px;
}

.popup-btn:hover {
  background: #1558b0;
}

.popup-btn:active {
  background: #0f45a0;
}

/* Footer */
.popup-footer {
  padding: 4px 10px;
  background: #fafafa;
  border-top: 1px solid #e8e8e8;
  font-size: 11px;
  color: #888;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
